/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#70944D !important;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background: rgba(0, 0, 0, 0) url("../img/logo.png") no-repeat scroll center top / 169px 173px;
    height: 50px;
    left: 50%;
    margin: -115px 0 0 -112px;
    padding: 180px 0 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 225px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.tagline {
    font-size: 15px;
    text-transform: capitalize;
}
.mobile-button {
    background: rgb(5, 73, 36) none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 7px;
    color: #70944d;
    display: inline-block;
    font-size: 21px;
    margin-top: 41px;
    padding: 1px 20px 2px;
    text-decoration: none;
    text-transform: capitalize;
}
.text-center.header {
    padding: 12px 1px;
}
.custom-captcha {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 0 none;
    box-shadow: none;
    color: #c6d4b8;
    font-size: 50px;
    font-weight: bold;
    height: 68px;
    text-align: center;
}
.col-md-6.captcha-field {
    position: relative;
}
.captcha-field img {
    position: absolute;
    right: 19px;
    top: 8px;
    width: 21px;
}
.validation-cross
{
    display: none;
}
.heading {
    border-bottom: 1px solid;
    font-family: sans-serif;
    font-size: 31px;
    padding-bottom: 6px;
    text-transform: capitalize;
}
.custom-menu li {
    background: rgb(5,73,36);
    border: 1px solid;
    border-radius: 6px !important;
    margin-bottom: 5px;
    text-align: center;
}
.custom-menu a {
    color: #70944d;
    font-size: 18px;
    text-transform: capitalize;
}
.col-centered
{
    text-align: center;
}
.submit-button {
    background: rgb(5, 73, 36) none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 7px;
    color: #70944d;
    display: inline-block;
    font-size: 21px;
    padding: 1px 20px 2px;
    text-decoration: none;
    text-transform: capitalize;
}
.form-control {
    background: #c6d4b8 none repeat scroll 0 0;
    border: medium none;
}
.front.section-logo.col-centered {
    margin-top: 50%;
}